
body {
  font-family: Verdana, sans-serif;
  color: white;
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

a:visited {
  color: #73AD21;
}

a {
  color: white;
}

#navigation {
  width: 50%;
  display: block;
  padding: 20px 20px 50px 20px;
  margin: auto auto
}

.menu {
  display: inline-block
}

img.menu {
  width: 20px;
  height: 20px;
}

#folders {
  display: block;
  border-radius: 25px;
  border: 2px solid gray;
  padding: 25px;
  width: 90%;
  margin: 0 auto;
  /*
  background-image: url(/static/folder.svg);
  background-size: contain
  */
}

#images {
  display: block;
  border-radius: 25px;
  border: 2px solid gray;
  padding: 25px;
  width: 90%;
  margin: 0 auto;
}

.folder-thumb {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.image-thumb {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

img.image-thumb {
  border-radius: 15px;
}

.folder-div {
  display: inline-block;
  border-radius: 15px;
  border: 2px solid #73AD21;
  padding: 25px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  /**/
  background-image: url(/static/folder.svg);
  background-size: 20px 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  /**/
  margin: 0 auto;
}

.image-div {
  display: inline-block;
  border-radius: 15px;
  border: 2px solid #73AD21;
  padding: 25px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

#top {
  border: 5px solid #ccc;
}

#close {
  position: fixed;
  top: 102%;
  left:50%;
  transform: translate(-102%, -50%);
}
