<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
<script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
<h1>Flask Image Gallery</h1>
  <div id="navigation">
    <a href="/dir/" ><img class="menu" src="/static/home.svg"></a>
    {% if parent is not none %}
    <a href="/dir/{{ parent }}" ><img class="menu" src="/static/up.svg"></a>
    {% endif %}
  </div>
  {% if dirs %}
  <div id="folders">
    {% for dir in dirs.keys() | sort %}
    {% if dirs[dir]['thumb'] %}
    <div class="folder-div"><a href="/dir/{{ dirs[dir]['path'] }}"><img class="folder-thumb" src="/cdn/{{ dirs[dir]['thumb'] }}" >{{ dir }}</a></div>
    {% else %}
    <div class="folder-div"><a href="/dir/{{ dirs[dir]['path'] }}"><img class="folder-thumb" src="/static/folder.svg" >{{ dir }}</a></div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% if images %}
  <div id="images">
    {% for image in images | sort(attribute="filename") %}
    <div class="image-div"><a href='/cdn/{{ image["path"] }}' title="{{ image['filename'] }}"><img class="image-thumb" src='/cdn/{{ image["thumb"] }}' alt="{{ image['filename'] }}" >{{ image['filename'] }}</a></div>
    {% endfor %}
  </div>
  {% endif %}
</body>
</html>
